html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: rgb(244, 227, 255);
}

h1 {
    display: inline;
    color: rgb(214, 182, 0);
    width: 50%;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

#top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(64, 0, 94);
}

#burger {
    display: inline;
    cursor: pointer;
}

#burger div {
    background-color: rgb(214, 182, 0);
    width: 6vw;
    min-height: 0.7vh;
    margin: 0.45vh;
}

#burger div:first-child {
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
}

#burger div:last-child {
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
}

#nav-bar {
    list-style: none;
    margin-right: 0;
    margin-top: 0;
    padding: 0 0 1vh 0;
    text-align: center;
    width: 20vw;
    display: none;
    position: absolute;
    left: 75vw;
    background-color: rgb(64, 0, 94);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nav-bar li {
    color: rgb(214, 182, 0);
    cursor: pointer;
    /* box-sizing:border-box; */
    width: 4.5vw;
    padding: 0 20% 0.2vh 25%;
    border: rgba(0,0,0,0);
    text-align: center;
    margin: 0;
}

#main p {
    max-width: 70ch;
    line-height: 2em;
}

@media only screen and (min-width: 600px) {
    #burger {
        display: none;
    }

    #nav-bar {
        background-image: linear-gradient(to bottom, rgba(64, 0, 94, 1), rgb(218, 163, 255));
        width: 100vw;
        box-sizing: border-box;
        text-align: center;
        margin: 0;
        padding: 1vw;
        height: 6vh;
        display: flex;
        position: static;
        align-items: center;
        justify-content: space-around;
    }

    #nav-bar li {
        text-align: center;
        width: 5vw;
        display: inline;
        color: rgb(214, 182, 0);
        margin: 0 4vw;
        padding: 0.5vh 0;
        box-sizing:border-box;
        transition: font-size 0.8s, border 0.8s, color 0.8s;
    }

    #nav-bar li:hover {
        border: solid 1px rgba(214, 182, 0, 1);
        color: rgb(255, 217, 0);
        border-radius: 25px;
        font-size: 1.2em;
        transition: font-size 0.8s, border 0.8s, color 0.8s;
    }

    #main p {
        
        max-width: 70ch;
        line-height: 2em;
    }
}